//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^rahmancaylak.github.io[nc]
RewriteRule ^(.*)$ http://www.rahmancaylak.github.io/$1 [r=301,nc]

//Caching schema
<FilesMatch "\.(jpg|jpeg|png|js|css)$">
Header set Cache-Control "private, max-age=259200"
</FilesMatch>

//Custom 400 errors
ErrorDocument 400 400.html

//Custom 401 errors
ErrorDocument 401 401.html

//Custom 403 errors
ErrorDocument 403 403html

//Custom 404 errors
ErrorDocument 404 404.html

//Custom 500 errors
ErrorDocument 500 500.html

//Change default directory page
DirectoryIndex index.html