@font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat'), local('Montserrat'), url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap) format('woff2');
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 45px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
}

.dark-background {
    background-image: url("../images/gallery-background.jpg");
    background-color: #000000;
}


/*
Home Page
*/

.slider-pd {
    padding: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    border-radius: 100%;
    background-size: 20px;
    background-color: black;
}

.home-gallery {
    background-image: url("../images/home-gallery-background.jpg");
}

.home-title-vodafone-park {
    color: red;
}

.home-social-media {
    background-image: url("../images/home-social-media-background.jpg");
}


/* 
Navbar (Menu) Header side
*/

.navbar-menu-background {
    background-color: #000000;
}

header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
}


/* 
Gallery Page
*/

.load-more-gallery {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: black;
    margin: 0 auto;
    padding: 15px;
}

.load-more-gallery:hover {
    text-align: center;
    color: #fff;
    background-color: #ed1c24;
    padding: 15px;
}


/* 
Football Players Page
*/


/* 
Footer Side 
*/

footer {
    padding: 40px 0;
    width: 100%;
}

.footer-background {
    background: #030303
}

.footer-copyright-text {
    padding: 0 200px
}

.footer-copyright-text p {
    color: #fff;
    font-size: 16px
}

.footer-copyright-text hr {
    border-top: 1px solid #353535
}


/* Mobile Settings Here */

@media screen and (max-width: 978px) {
    .footer-copyright-text {
        padding: 0
    }
    .footer-social-networks a {
        margin: 0 10px;
        font-size: 160%;
    }
}