@font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat'), local('Montserrat'), url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap) format('woff2');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 45px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
}

.dark-background {
    background-image: url("../images/gallery-background.jpg");
    background-color: #000000;
}


/*
Home Page
*/

.slider-pd {
    padding-left: 0;
    padding-right: 0;
}

.home-gallery {
    background-image: url("../images/home-gallery-background.jpg");
}

.home-title-vodafone-park {
    color: red;
}

.home-social-media {
    background-image: url("../images/home-social-media-background.jpg");
}


/* 
Navbar (Menu) Header side
*/

.navbar-menu-background {
    background-color: #000000;
}

header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
}


/*
Homw Page
*/

.hr-divider {
    margin: 5rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
}

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}


/* 
Gallery Page
*/

.load-more-gallery {
    position: relative;
    left: 45%;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: black;
    margin: 0 auto;
    padding: 15px;
}

.load-more-gallery:hover {
    text-align: center;
    color: #fff;
    background-color: #ed1c24;
    padding: 15px;
}


/* 
Footer Side 
*/

footer {
    padding: 40px 0;
    width: 100%;
}

.footer-background {
    background: #030303
}

.footer-copyright-text {
    padding: 0 200px
}

.footer-copyright-text p {
    color: #fff;
    font-size: 16px
}

.footer-copyright-text hr {
    border-top: 1px solid #353535
}


/* Mobile Settings Here */

@media screen and (max-width: 978px) {
    .footer-copyright-text {
        padding: 0
    }
    .footer-social-networks a {
        margin: 0 10px;
        font-size: 160%;
    }
}